<div class="jumbotron center">
     <% if user_signed_in? %>
      <div class="new_post">
          <%= form_for :post, url: posts_path do |f| %>
           
            <p>
              <%= f.label :description %><br>
              <%= f.text_field :description %>
            </p>
           
            <p>
              <%= f.submit %>
            </p>
          <% end %>
        </div>

          <%= link_to "Create New Post", new_post_path, class: "btn btn-default btn-lg create_post" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>

<h2> Latest Tweets </h2>
<% if @posts %>
<% @posts.each do | post | %>
	<% @id = post.author_id %>
	<p>"<%= post.description %>" written by <%= User.find(@id).first_name %></p>
<% end %> 
<% end %>


<%= link_to "About Danke", about_path %>


<script>
  $('document').ready(function(){
      console.log("AJAX is ready, miss regina!")
    });

</script>